.u-section-1 .u-sheet-1 {
  min-height: 640px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-align: center;
  margin: 55px auto 0 203px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-align: center;
  margin: -42px auto 0 55px;
}

.u-section-1 .u-text-2 {
  text-align: start;
  margin: -34px 226px 0 auto;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-align: center;
  margin: 63px auto 0 203px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-align: center;
  margin: -42px auto 0 55px;
}

.u-section-1 .u-text-3 {
  text-align: start;
  margin: -34px auto 60px 479px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 3px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 3px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 395px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 303px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 170px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 227px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-right: 107px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 143px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 305px;
}.u-section-3 .u-sheet-1 {
  min-height: 551px;
}